

<br>
<div class='container'>
  <div class='row text-center'>
          <div class='col-md-12'>
                <button type='button' class='btn btn-lg btn-default'><%= link_to "Edit Reservation", edit_reservation_path( @reservation ), :class => "links" %></button>
                <button type='button' class='btn btn-lg btn-default'><%= link_to "Delete Reservation", @reservation, :method => :delete, :data => { :confirm => 'Are you sure?'}, :class => "links" %></button>
          </div>
  </div>
</div>


<div class='container'>

<div class='row text-center'>
        <div class='col-md-12'>
            <h2><%= @reservation.name %></h2>
        </div>
</div>


<div class='row'>

  <div class='col-md-4 col-md-offset-4'>
    <div class="stepsDetailsShow">

      <h4><%= link_to @reservation.name, "/reservations/#{@reservation.id}" %></h4>

      <h5>Current user name: <span><%= @current_user.name %></span></h5>
      <h5>Flight ID: <span><%= @reservation.flight.id %></span></h5>
      <h5>Flight name: <span><%= @reservation.flight.number %></span></h5>
      <h5>Plane name: <span><%= @reservation.flight.plane.name %></span></h5>
      <h5>Row: <span><%= @reservation.rows %></span></h5>
      <h5>Column: <span><%= @reservation.columns %></span></h5>
      <h5>Reservation_ID: <span><%= @reservation.id %></span></h5>

      </div>
      </div>


</div>



</div>

<br>
