

<section>
  <h2>This should show all the countries where I wish to go:</h2>
    <ul class="sortable grid">
      <% @countries.each do |country| %>
        <div class="countries">
        <li>
              <p><%= link_to(image_tag( country.flag, :class => 'thumbnail'), country) %></p>

                  <p>Name: <%= link_to country.name, "/countries/#{country.id}" %></p>
                  <p>Surface: <%= country.surface %></p>
                  <p>Population: <%= country.population %></p>
                  <p>Language: <%= country.language %></p>

        </li>
        </div>
      <% end %>
    </ul>
</section>

<section>
  <h2>Sortable Grid</h2>
  <ul class="sortable grid">


    <div class="countries"><li id="item1">Item 1</li></div>
    <div class="countries"><li id="item2">Item 2</li></div>
    <div class="countries"><li id="item3">Item 3</li></div>
    <div class="countries"><li id="item4">Item 4</li></div>
    <div class="countries"><li id="item5">Item 5</li></div>
    <div class="countries"><li id="item6">Item 6</li></div>

  </ul>
</section>

<section>
  <h2>Features</h2>
  <ul id="features">
    <li>2KB (minified).</li>
    <li>Built using native HTML5 drag and drop API.</li>
    <li>Supports both list and grid style layouts.</li>
    <li>Add drop animations with CSS3.</li>
    <li>Class control for move, over, drop and exclude.</li>
    <li>Vender prefix getter for detecting animation end.</li>
    <li>Works in IE 7+, Firefox 16+, Chrome 23+, Safari 5.1+ and, Opera 12.1+.</li>
  </ul>
</section>
<section>
  <h2>Sortable List</h2>
  <ul class="sortable list">
    <li id="item1">Item 1</li>
    <li id="item2">Item 2</li>
    <li id="item3">Item 3</li>
    <li id="item4">Item 4</li>
    <li id="item5">Item 5</li>
    <li id="item6">Item 6</li>
  </ul>
</section>
<section>
  <h2>Sortable Grid</h2>
  <ul class="sortable grid">
    <li id="item1">Item 1</li>
    <li id="item2">Item 2</li>
    <li id="item3">Item 3</li>
    <li id="item4">Item 4</li>
    <li id="item5">Item 5</li>
    <li id="item6">Item 6</li>
  </ul>
</section>
<section>
  <h2>Exclude Items</h2>
  <ul class="sortable list">
          <li id="item1">Item 1</li>
          <li id="item2">Item 2</li>
          <li id="item3" class="disabled">Item 3</li>
          <li id="item4">Item 4</li>
          <li id="item5" class="disabled">Item 5</li>
          <li id="item6" class="disabled">Item 6</li>
  </ul>
</section>
  <section>
  <h2>Dynamic Exclude Items</h2>
  <ul class="sortable_exclude_dynamic list">

  </ul>
</section>
<section>
  <h2>Functions <em>toArray</em> <span id="arrayResults"></span></h2>
  <h2><em>toJSON</em> <span id="jsonResults"></span></h2>
  <ul class="funcs">
    <li id="item1">Item 1</li>
    <li id="item2">Item 2</li>
    <li id="item3">Item 3</li>
    <li id="item4">Item 4</li>
  </ul>
</section>
<section>
  <h2>Resources</h2>
    <ul>
      <li><a href="http://www.html5rocks.com/en/tutorials/dnd/basics/">HTML5 Rocks Tutorial</a></li>
      <li><a href="https://github.com/zakj/html5sortable">zakj/html5sortable</a></li>
      <li><a href="https://github.com/zenorocha/jquery-plugin-patterns">jquery.extend-skeleton.js</a></li>
    </ul>
</section>



<!-- t.text :name
t.text :surface
t.text :population
t.text :language
t.text :flag -->
