<h2><%= @user.name %></h2>


<p> Email: <%= @user.email %> </p>
<p> Password digest: <%= @user.password_digest %> </p>

<%= link_to( "Create and Check your trips", trips_path( @user)) %>
<br>
<br>
<%= link_to "See all the visits", visits_path, :class => "links" %>
<%= link_to "See all the countries", countries_path, :class => "links" %>
<%= link_to "See all the locations", locations_path, :class => "links" %>

<br>
<br>

<%= link_to( "Edit user", edit_user_path( @user)) %>
<%= link_to( "Delete user", user_path( @user), :method => :delete, :data => { :confirm => 'Are you sure?'}) %>
