<h1>This is our helpers demo:</h1>

<%= link_to "Numbers", numbers_path %>
<%= link_to "Text", text_path %>
<%= link_to "Asssets", assets_path %>
<%= link_to "URL", url_path %>

<%= link_to "Home", root_path %>
<!-- or: <%= link_to  "Home", home_path %> -->



 <!-- root 'pages#home'
#
# get '/numbers' => 'pages#number' # :as => 'money'
#
# get '/text' => 'pages#text'
#
# get '/railsassets' => 'pages#railsassets'
#
# get '/url' => 'pages#url'
#
# get '/home' => 'pages#home' -->
