<h2>This should show all the visits:</h2>

<ul>
  <% @visits.each do |visit| %>

    <li>
          <%= link_to(image_tag( visit.image, :class => 'thumbnail'), visit) %>
          <ul>
              <li>Name: <%= link_to visit.name, "/visits/#{visit.id}" %></li>
              <li>Country: <%= link_to visit.country.name, "/countries/#{visit.country.id}" %></li>
              <li>Descrition: <%= visit.description %></li>
          </ul>
    </li>

  <% end %>
</ul>

  <%= link_to "See all the countries", countries_path, :class => "links" %>
  <%= link_to "See all locations", locations_path, :class => "links" %>
