<br>
<div class='container'>
  <div class='row text-center'>
          <div class='col-md-12'>
                <h2><%= @visit.name %></h2>
          </div>
  </div>

  <br>

<div class='row'>
        <div class='col-md-12'>
                <div id="map"></div>
        </div>
</div>

<br>
<div class='row'>
    <div class='col-md-8'>
            <div class="stepsDetailsShow">
                  <%= link_to(image_tag( @visit.image, :class => 'featured'), @visit) %>
            </div>
    </div>
    <div class='col-md-4'>
      <div class="stepsDetailsShow">
          <h5>Location: <span><%= link_to @visit.country.location.name, "/locations/#{@visit.country.location.id}" %></span></h5>
          <h5>Country: <span><%= link_to @visit.country.name, "/countries/#{@visit.country.id}" %></span></h5>
          <h5>Description: <span><%= @visit.description %></span></h5>
      </div>
    </div>
  </div>
  </div>



<script>
    function initMap() {

      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
        center: {lat: <%= @visit.visitLatitude %>, lng: <%= @visit.visitLongitude %>},
        zoom: 6
      });

      var iconBase = 'http://maps.google.com/mapfiles/kml/paddle/A.png';

      var marker = new google.maps.Marker({
        position: {lat: <%= @visit.visitLatitude %>, lng: <%= @visit.visitLongitude %>},
        map: map,
        icon: iconBase
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
      async defer></script>
