<!-- # t.text :name
# t.text :description
# t.date :startDate
# t.integer :user_id -->

<%= form_for @trip do |f| %>

<div class='col-md-6 col-md-offset-3'>
  <div class="stepsDetailsShow specialForm">

  <p>
    <%= f.label :name, :class => "label1" %>
    <%= f.text_field :name, :required => true, :class => "inputs", :class => "label2" %>
  </p>

  <p>
    <%= f.label :description, :class => "label1" %>
    <%= f.text_field :description, :required => true, :class => "inputs", :class => "label2" %>
  </p>


  <p>
    <%= f.label :image, :class => "label1" %>
    <%= f.url_field :image, :required => true, :class => "inputs", :class => "label2" %>
  </p>

  <p>
    <%= f.label :startDate, :class => "label1" %>
    <%= f.text_field :startDate, :required => true, :class => "inputs", :class => "label2" %>
  </p>


  <p>
    <%= f.label :user_id, :class => "label1" %>
    <%= f.text_field :user_id, :required => true, :class => "inputs", :value => "#{@current_user.id}", :class => "label2" %>
  </p>

  <br>

  <%= f.submit %>

</div>
</div>

<% end %>
