<!-- t.text :name
t.integer :trip_id
t.integer :visit_id
t.text :duration
t.text :position -->


<%= form_for @step do |f| %>

  <p>
    <%= f.label :name, :class => "labels" %>
    <%= f.text_field :name, :required => true, :class => "inputs" %>
  </p>

  <p>
    <%= f.label :trip_id, :class => "labels" %>
    <%= f.select :trip_id, @current_user.trips.map { |a| [ a.name, a.id ]}, :include_blank => true, :class => "inputs" %>
  </p>


  <p>
    <%= f.label :visit_id, :class => "labels" %>
    <%= f.select :visit_id, Visit.all.map { |a| [ a.name, a.id ]}, :include_blank => true, :class => "inputs" %>
  </p>

  <p>
    <%= f.label :duration, :class => "labels" %>
    <%= f.text_field :duration, :required => true, :class => "inputs" %>
  </p>

  <p>
    <%= f.label :position, :class => "labels" %>
    <%= f.text_field :position, :required => true, :class => "inputs" %>
  </p>

  <%= f.submit %>

<% end %>
